@charset "UTF-8";

.btnArea button{
 width:17px;  /* 이미지의 넓이*/
 height: 16px; /* 이미지의 높이*/
 border: 0; /*버튼은 기본으로 border값이 있으므로 0으로 만들어 줌*/
 padding: 0;
 overflow:hidden; /*위치를 넘어선 것은 안보이도록 설정*/
 position: relative;
}
.btnArea span{
 width:17px;
 height: 16px;
 position: absolute;
 top:0px;
 left:0px;
}
.prev span{ 
 background: url(/jspTest/img/) no-repeat;
}  

.next span{
 background: url(/jspTest/img/cart_delete.jpg) no-repeat;
}